@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin-left: 9.37rem;
  margin-right: 9.37rem;
}
/* shared items */
.display-flex {
  display: flex;
}
.ag-1 {
  font-size: medium;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
}
.ag-2 {
  font-size: medium;
  font-weight: 400;
  color: rgba(137, 135, 161, 1);
}
.text-color-1 {
  color: #e95a08;
}
.dark-2 {
  font-size: 1.37rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
/* navbar part */
.cart-nav {
  gap: 10px;
  list-style: none;
  padding: 0px;
  text-decoration: none;
}
.cart-nav-item {
  text-decoration: none;
  list-style: none;
  color: rgba(0, 0, 0, 1);
}
.nav-items {
  text-decoration: none;
  list-style: none;
  /* gap: 3rem; */
}
.nav-item {
  text-decoration: none;
  margin-right: 3rem;
}
/* .nav-item:hover {
  transform: translateY(-3px);
} */
.hover-link {
  display: inline-block;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hover-link:hover {
  color: #e63946;
  transform: translateY(-3px);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/* banner part */
.banner {
  align-items: end;
  margin-top: 120px;
}
.banner-1 {
  margin-bottom: 0px;
}
.banner-2 {
  margin-top: 106px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 13px;
  padding: 0;
}
.banner-paragraph {
  margin-bottom: 0;
}

/* plants cart section */
.plants {
  margin-top: 120px;
  margin-bottom: 210px;
}
.plants-title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
.plants-paragraph {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
}
.plant-name {
  font-size: 1.375rem;
  font-weight: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.plant-price {
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-primary {
  color: #ffffff;
  background-color: #e95a08;
  padding: 1.625rem 3.125rem;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  margin-top: 0px;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background: #b74011;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
.plant-carts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  row-gap: 30px;
  margin-top: 40px;
}
.plant-cart {
  row-gap: 20px;
  text-align: center;
}
.img-title {
  max-width: 100%;
}

/* Flower & Plants lover section */
.flower-lover-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.flower-lover-img-bdg {
  position: relative;
  display: inline-block;
}
.flower-lover-image {
  display: block;
  max-width: 33.75rem;
  max-height: 37.31rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.flower-lover-badge {
  position: absolute;
  top: -120px;
  right: -100px;
  width: 286px;
  height: 286px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
  animation: spin 10s linear infinite;
}

.flowers-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 133px;
  /* max-width: 100%; */
}
.flower-lover-description {
  max-width: 32.25rem;
  max-height: 32.56rem;
}

/* latest deals section */
.latest-deals {
  margin-bottom: 120px;
}
.latest-deals-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.latest-deals-paragraph {
  margin-top: 16px;
  text-align: center;
}
.deals-img {
  display: grid;
  grid-template-columns: auto auto;
  gap: 22px;
  row-gap: 15px;
  margin-top: 90px;
}

.img-box {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 14px;
}

.d-img-3 .d-img {
  border-radius: 22px;
  height: 100%;
  object-fit: cover;
}

.d-img-1 {
  grid-column: 1;
  grid-row: 1;
}

.d-img-2 {
  grid-column: 1;
  grid-row: 2;
}

.d-img-3 {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.overlay-text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.overlay-text-paragraph {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.overlay-text-paragraph-big-img {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.overlay-text-anchor-big-img {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 10px 40px;
  color: white;
  text-decoration: underline;
}

.overlay-text-anchor {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: underline;
  padding: 10px 40px;
}

/* colorful bunch section */

.bunch-title {
  font-size: 50px;
  font-weight: 700;
  /* text-align: center; */
  /* color: white; */
}
.bunch-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  padding: 8px 20px;
  gap: 10;
  height: 50px;
  width: 644px;
  font-size: 16px;
  font-weight: 400;
}
.subscribe {
  padding: 26px 50px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #e95a08;
}
.bunch-img {
  margin-left: -150px;
}

/* ---responsive part--- */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column;
    row-gap: 28px;
    margin-top: 28px;
  }
  .navbar {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 28px;
  }

  .banner-1 {
    order: 2;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .banner-2 {
    margin-top: 28px;
  }
  .nav-item {
    display: none;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-paragraph {
    font-size: 0.9rem;
  }
  .banner-image {
    max-width: 100%;
  }
  body {
    margin-left: auto;
    margin-right: auto;
  }

  /* plants section */
  .plants-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .plants-paragraph {
    font-size: 0.9rem;
    margin-top: 16px;
    margin-bottom: 28px;
    margin-left: 29px;
    margin-right: 29px;
  }
  .plant-carts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 28px;
  }
  .img-title {
    max-width: 100%;
  }
  .plants {
    margin-top: 65px;
    margin-bottom: 41.5px;
  }
  .plant-name {
    font-size: 1rem;
    font-weight: 500;
  }
  .plant-price {
    font-size: 1rem;
    font-weight: 700;
  }

  /* flower and plant lover section */
  .flowers-lover {
    display: flex;
    flex-direction: column;
    margin: 41.5px 16px 0px 16px;
  }
  .flower-lover-badge {
    display: none;
  }
  .flower-lover-description {
    margin-top: 18px;
  }
  .flower-lover-image {
    max-width: 100%;
  }
  .flower-lover-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .flower-lover-paragraph {
    font-size: 14px;
  }

  /* latest deals section */
  .latest-deals {
    display: flex;
    flex-direction: column;
    margin: 100px 16px 0px 16px;
  }
  .latest-deals-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .latest-deals-paragraph {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .deals-img {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    row-gap: 20px;
  }
  .overlay-text-paragraph-big-img {
    font-size: 20px;
  }
  .overlay-text-anchor-big-img {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
  }
}
